.commentsPageTitle {
  font-size: 3rem;
}
.commentTitle {
  font-size: 2rem;
  margin-bottom: 1vh;
}
.commentContent {
  font-size: 1rem;
  margin-bottom: 1vh;
}
.commentLink {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
