@import "tailwindcss";

:root {
  --background: #000;
  --foreground: #fff;
  overflow-x: hidden;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
.navLink {
  display: flex;
  padding: 1vw;
  width: 33%;
  height: 5vh;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  background-color: #000;
  color: #ffffff;
  &:hover {
    background-color: yellow;
    color: #000;
  }
}
.navBar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 5vh;
}
a:hover {
  background-color: yellow;
  color: #000;
}
button {
  border: 1px solid #fff;
  &:hover {
    background-color: yellow;
    color: black;
  }
}
select {
  border: 1px solid #fff;
}
option {
  background-color: black;
  color: white;
}
